.backgroundGradient {
    background-image: linear-gradient(to right, black, grey);
    flex: 1;
    height: 100%;
}

.applicationCard {
    margin: 48px !important;
    border-radius: 10%;
}

.domainIcon {
    height: 84px;
}

.role {
    margin: 8px !important;
    margin-left: 12px !important;
}

.applicationContent {
    margin-left: 10px;
    padding: 13px !important;
}

.status {
    margin-left: 12px !important;
}

.navbar {
    background-image: linear-gradient(to right, #b483e2, #7b95ed)  !important;
}

.loginPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(
      to left,
      #b483e2, #7b95ed
    );
    color: white;
}

.loginContent {
    max-width: 50%
}

.dashboardPage {
    /* padding-top: 64px; */
}

.cardGroupOverflow {
    height: 851px;
    overflow-y: scroll
}

.detailsViewPanel {
    margin: 48px;
    height: 755px;
}

.detailsViewToolbar {
    background-image: linear-gradient(
      to right,
    #7b95ed, #b483e2
    );
    color: white;
}

.detailsInformation {
    margin: 24px;
} 

.detailsLogo {
    border-radius: 50%;
    padding:10px;
    border:1px solid lightgray;
    background-color: white;
}

.detailsBorder {
    height: 1px;
    margin: 13px;
    margin-top: 20px;
    width: 97%;
    background-color: lightgray;
}

.emailIcon {
    padding: 7px;
    background-color: #e5e5e5;
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

.emailBuffer {
    margin: 6px
}

.timeline {
    height: 350px; 
    overflow-y: scroll;
}

.logo {
    width: 300px;
    height: 300px;
}

.logoTitle {
    color: white !important;
    font-size: 80px !important;
    margin-bottom: -10px !important;
}

.logoDescription {
    color: white !important;
    margin-bottom: 40px !important;
}

.logoTopLeft {
    width: 30px;
    height: 30px;
    margin-right: 17px;
}

.blankPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.blankContent {
    max-width: 50%;
}

.blankLogo {
    height: 300px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.imFaded {
    animation:fadeIn 1s linear;
}