.backgroundGradient {
    background-image: linear-gradient(to right, black, grey);
    flex: 1;
    height: 100%;
}

.applicationCard {
    margin: 48px !important;
    border-radius: 10%;
}

.domainIcon {
    height: 84px;
}

.role {
    margin: 8px !important;
    margin-left: 12px !important;
}

.applicationContent {
    margin-left: 10px;
    padding: 13px !important;
}

.status {
    margin-left: 12px !important;
}

.navbar {
    background-image: linear-gradient(to right, #b483e2, #7b95ed)  !important;
}

.loginPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: 
    linear-gradient(
      to right,
      #b483e2, #7b95ed
    );
    color: white;
}

.loginContent {
    max-width: 50%
}

.dashboardPage {
    /* padding-top: 64px; */
}

.cardGroupOverflow {
    height: 851px;
    overflow-y: scroll
}

.detailsViewPanel {
    margin: 48px;
    height: 755px;
}

.detailsViewToolbar {
    background-image: linear-gradient(
      to right,
    #7b95ed, #b483e2
    );
    color: white;
}